<form [formGroup]="ipAddressForm" (ngSubmit)="onSubmit()">
<mat-card>    
    <mat-card-title class="header">Location Tracker App</mat-card-title>    
</mat-card> 
<table style="width:30%">
    <tr>
        <td>
            <label for="ipaddress">
                IPAddress:
            </label>
        </td>
        <td>
            <input id="ipaddress" type="text" formControlName="ipaddress">
        </td>
    
        <td >
            <button class="button" type="submit">Show</button>
        </td>
    </tr>
</table>   
<table>
    <tr>
        <td>
            <mat-card>    
                <mat-card-title class="header">Current Location Detail</mat-card-title>    
                
                <mat-card-content>
                    <label for="LocalCountry"> <b>Country</b>: {{LocalCountry}}</label> <br/>
                    <label for="LocalCity"> <b>City</b>: {{LocalCity}}</label><br/>
                    <label for="LocalTimeZone"> <b>TimeZone</b>: {{LocalTimeZone}}</label><br/>
                    <label for="LocalTime"> <b>Current Time</b>: {{LocalTime}}</label><br/>
                    
                </mat-card-content>    
                 
            </mat-card> 
        </td>
        <td>
            <mat-card>    
                <mat-card-title class="header">Requested Location Detail</mat-card-title>    
                  
                <mat-card-content>
                    <label for="RequestedCountry"> <b>Country</b>: {{RequestedCountry}}</label> <br/>
                    <label for="RequestedCity"> <b>City</b>: {{RequestedCity}}</label><br/>
                    <label for="RequestedTimeZone"> <b>TimeZone</b>: {{RequestedTimeZone}}</label><br/>
                    <label for="RequestedTime"> <b>Current Time</b>: {{RequestedTime}}</label><br/>
                    
                </mat-card-content>   
                 
                  
                  
            </mat-card> 
        </td>
    </tr>
    <tr aria-rowspan="3"></tr>
    <tr><td colspan="2">
        <mat-card>
            <mat-card-title class="header">Total Hour Difference</mat-card-title>    
            <mat-card-content class="header">
                {{HoursDifference}}
            </mat-card-content>
        </mat-card>
        </td>
    </tr>
</table>
</form>
